nav ul{
    display: flex;
     
}
@media (max-width:420px){
    .nav ul {
      flex-direction: column;
    }
}

nav ul li{
    list-style: none;
    margin-right: 1rem;
}
nav ul li button {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 5px;
   border: white;

}
nav ul li button::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    height: 3px;
    width: 0;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}
nav ul li button:hover:before{
width: 100%;
}
nav ul li button:focus{
    background-color: var(--primary-color);
    opacity: 0.2px;
    border-radius: 20px;
}

nav ul li button:focus::before{
    width: 0%;
}

@media (max-width:900px){
    nav ul{
            display: flex;
            flex-direction: column;
        }
        nav ul li{
            padding-top: 10px;
        }}